<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssertionChallengeURL</key>
	<string>https://auth.pushpabrol.win/generate-assertion-challenge</string>
	<key>VerifyAttestationURL</key>
	<string>https://auth.pushpabrol.win/verify-attestation</string>
	<key>AttestationChallengeURL</key>
	<string>https://auth.pushpabrol.win/generate-attestation-challenge</string>
	<key>CLIENT_ID</key>
	<string>3FWajVhCd5qnAxEllW270gcO80iHquef</string>
	<key>REDIRECT_URI</key>
	<string>com.pushp.AppAttestTest://auth.pushpabrol.win/ios/com.pushp.AppAttestTest/callback</string>
	<key>TOKEN_ENDPOINT</key>
	<string>https://auth.pushpabrol.win/oauth/token</string>
	<key>AUTH_ENDPOINT</key>
	<string>https://auth.pushpabrol.win/authorize</string>
</dict>
</plist>
